// Inter
@font-face {
  font-family: 'inter_extra_bold';
  src: url('/fonts/inter/Inter_extra_bold.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-Black';
  src: url('/fonts/inter/Inter-Black.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('/fonts/inter/Inter-Bold.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('/fonts/inter/Inter-Medium.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('/fonts/inter/Inter-SemiBold.woff') format('woff');
  font-weight: normal;
}

// Manrope

@font-face {
  font-family: 'Manrope-Bold';
  src: url('/fonts/Manrope/Manrope-Bold.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('/fonts/Manrope/Manrope-ExtraBold.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Manrope-Semibold';
  src: url('/fonts/Manrope/Manrope-Semibold.woff') format('woff');
  font-weight: normal;
}

// Avenir Next Cyr

@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url('/fonts/Avenir-Next/AvenirNextCyr-Demi') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('/fonts/Avenir-Next/AvenirNextCyr-Medium.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('/fonts/Avenir-Next/AvenirNextCyr-Regular') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Thin';
  src: url('/fonts/Avenir-Next/AvenirNextCyr-Thin.woff') format('woff');
  font-weight: normal;
}
