// COLOR
$akcentnyy-akcentnyy-1: #00cc2d;
$akcentnyy-akcentnyy-2: #f63;

$tekst-seryy-1: #686870;
$tekst-seryy-2: #86868b;
$tekst-seryy-3: #9e9e9e;

$cvetnye-chernyy: #1d1d1f;
$cvetnye-zheltyy: #ffc700;
$cvetnye-krasnyy: #f44837;
$cvetnye--zelenyy: #55b20b;

$razdelitel-razdelitel-1: #d2d2d7;
$razdelitel-razdelitel-2: #ededed;
$razdelitel-razdelitel-3: #f5f5f5;

$fon-fon-seryy: #f5f5f7;
$fon-fon-dlya-inputov: #f5f5f7;
$fon-prozrachnyy-2-: rgba(39, 39, 39, 0.1);
$fon-prozrachnyy-1: rgba(39, 39, 39, 0.05);
$fon-cvetnye-fony-zheltyy-fon: #fef7ed;
$fon-cvetnye-fony-oranzhevyy-fon: #fbdcd5;
$fon-cvetnye-fony-zelenyy-fon: #ccf5d5;

$hovver-temno-oranzhevyy: #f63;
$hovver--temno-zelenyy: #00cc2d;

// FONT
$Inter-900: 'Inter-Black', sans-serif;
$Inter-800: 'inter_extra_bold', sans-serif;
$Inter-700: 'Inter-Bold', sans-serif;
$Inter-600: 'Inter-SemiBold', sans-serif;
$Inter-500: 'Inter-Medium', sans-serif;
$Inter-400: 'Inter-Regular', sans-serif;

$Manrope-800: 'Manrope-ExtraBold', sans-serif;
$Manrope-700: 'Manrope-Bold', sans-serif;
$Manrope-600: 'Manrope-Semibold', sans-serif;

$Avenir-600: 'AvenirNextCyr-Demi', sans-serif;
$Avenir-500: 'AvenirNextCyr-Medium', sans-serif;
$Avenir-400: 'AvenirNextCyr-Regular', sans-serif;
$Avenir-100: 'AvenirNextCyr-Thin', sans-serif;
